<?xml version="1.0"?>
<!--
* Copyright (C) 2021 FCFPAY
 *
 * FCF Pay provides merchants with an easy-to-use solution to accept cryptocurrency payments. Stay ahead of the competition with FCF Pay.
 * FCF Pay is a safe and secure payment processing solution. FCF Pay is housed on a dedicated server which uses innovative encrypting technology to ensure that all of your information remains secure and private.
 * @author      The FCF Inc
 * @copyright   2021 The FCF Inc
 * @license     http://opensource.org/licenses/gpl-2.0.php GNU General Public License, version 2 (GPL-2.0)
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="fcfpay_PaymentGateway_init" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <frontend_model>fcfpay\PaymentGateway\Block\Adminhtml\System\Config\Fieldset\Init</frontend_model>
            </group>
            <group id="fcfpay_PaymentGateway" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FCF pay</label>
                <fieldset_css>complex</fieldset_css>
                <comment>Accept payments through FCFpay</comment>
                <include path="fcfpay_PaymentGateway::system/method_checkout.xml"/>
            </group>
        </section>
    </system>
</config>
